body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(229, 200, 243);
}

#title,#caption{
    text-align: center;
    font-stretch: extra-expanded;
    font-size: 60px;
    color: blue;
}

#caption{
    font-size: 30px;
    color: black;
}
.photo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.par{
    font-size: 20px;
    width: 60%;
    margin: auto;
    color: black;
    text-align: center;
}

.borders{
     /*border: 10px solid red;*/
     max-width: 1200px;
     margin: auto;
     display:flex;
 }

 .borders .ingredients{
    /*border: 10px solid;*/
    font-size: 18px;
    width: 30%;
    height: 800px;
    color: black;
    text-align: center;
    margin-left: 100px;
}

.borders .steps{
    /*border: 10px solid;*/
    font-size: 18px;
    width: 50%;
    height: 1050px;
    color: black;
    margin-left: 200px;
}