body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(159, 236, 159);
}

#title,#caption{
    text-align: center;
    font-stretch: extra-expanded;
    font-size: 60px;
    color: blue;
}

#caption{
    font-size: 30px;
    color: black;
}
.photo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.par{
    font-size: 20px;
    color: black;
    text-align: center;
}

.ingredients{
    font-size: 18px;
    width: 20%;
    height: 300px;
    float: left;
    color: black;
    text-align: center;
    margin-left:250px;
    margin-right:300px;
}

.steps{
    font-size: 18px;
    width: 40%;
    height: 300px;
    float: right;
    color: black;
    margin-right: 150px;
}